@{

    ViewBag.Tittle = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
  <title>Email Teste</title>
</head>
<body>
  <div>
      <p style="font-size: 18px">
          Hi @ViewBag.Name,
      </p>
      <p>Thanks for signing up my Teste.</p>
  </div>
</body>
</html>